<html xmlns:th="http://www.thymeleaf.org">

<nav class="card bg-navbar-theme shadow-ms border-bottom sticky-top" th:fragment="administrator">

    <!-- BOTON HAMBURGUESA(solo visible en móvil) -->
    <div class="card-header border-0 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <button class="btn btn-light d-md-none rounded-0 top-0 start-0 m-0 shadow-sm z-index-high" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu">
                <i class="bx bx-menu fs-3"></i>
            </button>

            <div class="fs-3 fw-bold text-white">{{ userSession.roleName }}</div>
        </div>

    </div>

</nav>

<!-- ASISTENTE ADMINISTRATIVO -->
<nav class="card bg-navbar-theme shadow-ms border-bottom sticky-top" th:fragment="assistant">

    <!-- BOTON HAMBURGUESA(solo visible en móvil) -->
    <div class="card-header border-0 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <button class="btn btn-light d-md-none rounded-0 top-0 start-0 m-0 shadow-sm z-index-high" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu">
                <i class="bx bx-menu fs-3"></i>
            </button>

            <div class="fs-3 fw-bold text-white">{{ userSession.roleName }}</div>
        </div>

    </div>

</nav>

</html>